h1 {
  text-align: center;
}

.recipe-home {
  background-color: #FFFFFF;
  height: 400px;
  margin-bottom: 70px;
  border-radius: 15px;
}

.favorites-home {
  background-color: #FFFFFF;
  height: 700px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.image-wrapper {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.image-wrapper > img {
  width: 100%;
  height: auto;
  transition: .4s;
}

.image-wrapper > img:hover {
  transform: scale(1.2,1.2);
}

.recipes-row {
  margin-top: 20px;
}
