@font-face {
  font-family: merriweather;
  src: url(assets/fonts/Merriweather-Light.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

#header-image-back {
  width: 100%;
  height: 79vh;
  background-image: url('../images/header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-bottom: 0;
}

.navbar.navbar-default {
  background-image: none;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar-brand {
  display: flex;
  animation: center;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-brand > img {
  width: 118px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  font-family: merriweather;
}

.dropdown-menu > li > a {
  font-family: merriweather;
}

.navbar {
  border: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  border-bottom: medium solid #FFFFFF;
  color: #FFFFFF;
}

button {
  background-color: transparent;
}

i {
  color: #FFFFFF;
  font-size: larger;
}

#footer {
  background-color: #3A3E3B;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0px;
  padding: 50px 0;
}

.emailicon, .githubicon {
  width: 45px;
  margin-top: 10px;
}

ul > li {
  display: inline;
  margin: 0 5px;
}

#content {
  background-color: #FAFDF6;
  padding: 70px 0;
}

#pre-footer {
  background-color: #3A3E3B;
  padding: 40px 0;
}

#dropdown-li {
  background-image: none;
  color: #FFFFFF;
}

.footer-header {
 font-family: montserrat;
 font-size: large;
 color: #E7E6F7;
 margin-bottom: 20px;
}

.footer-li {
  font-family: merriweather;
  padding-left: 25px;

}


.footer-li > li {
  display: block;
  text-align: left;
  font-size: larger;
}

.footer-header > span {
    color: #E7E6F7;
    border-bottom: 3px solid #013008;
    padding-bottom: 10px;
}
