#header-image-back {
  width: 100%;
  height: 79vh;
  background-image: url('../images/header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
      margin-bottom: 0;
}

.navbar.navbar-default {
  background-image: none;
  background-color: transparent;
}

.navbar-brand {
  display: flex;
    animation: center;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand > img {
  width: 118px;
}

.navbar-default .navbar-nav > li > a {
  color: #e9ebe7;
}

.navbar {
  border: none;
}

.nav.navbar-nav {
  font-family: 'Gentium Basic', serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  border-bottom: medium solid #FFFFFF;
  color: #FFFFFF;
}

button {
    background-color: transparent;
}

i {
  color: #FFFFFF;
}

#footer {
  background-color: #013008;
  text-align: center;
}

.emailicon, .githubicon {
  width: 45px;
  margin-top: 10px;
}

ul > li {
  display: inline;
  margin: 0 5px;
}

#content {
  background-color: #FAFDF6;
  padding: 70px 0;
}
