/* Begin Modal Style*/

button.btn.btn-default:hover {
  background-color: #E7E6F7;
  color: #013012;
}

.btn-default {
  background-color: #013012;
  background-image: none;
  color: #E7E6F7;
  text-shadow: none;
}

.general-info-recipe-modal {
  height: 240px;
}

.image-wrapper-recipe-modal {
  height: 220px;
  overflow: hidden;
  width: 100%;
}

.image-wrapper-recipe-modal > img {
  height: auto;
  width: 100%;
}

.recipe-colaborator-modal {
  font-family: merriweather;
}

.recipe-source-modal {
  font-family: merriweather;
}

.recipe-title-modal {
  font-family: montserrat;
  font-weight: bold;
}

.recipe-title-modal > h3 {
  margin-bottom: 20px;
}

/* End Modal Style */

.image-wrapper-recipes-todas {
  height: 250px;
  width: 250px;
}

.image-wrapper-recipes-todas > a {
  text-decoration: none;
}

.image-wrapper-recipes-todas > a:focus {
  outline: 0;
}

.image-wrapper-recipes-todas > a > img {
  height: auto;
  width: 100%;
}

.recipe-upload-date {
  font-family: merriweather;
  font-size: smaller;
  text-align: center;
}

.recipe-container-todas {
  margin-bottom: 55px;
}

.recipe-title-todas {
  color: #013008;
  font-family: montserrat;
  text-align: center;
}
