/* modal style*/

.image-wrapper-recipe-modal {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.image-wrapper-recipe-modal > img {
  width: 100%;
  height: auto;
}

.general-info-recipe-modal {
  height: 240px;
}

.recipe-title-modal {
  font-weight: bold;
  font-family: montserrat;

}

.recipe-title-modal > h3 {
  margin-bottom: 20px;
}

.recipe-colaborator-modal {
  font-family: merriweather;
}

.recipe-source-modal {
  font-family: merriweather;
}

.btn-default {
  text-shadow: none;
  background-image: none;
    background-color: #013012;
    color: #E7E6F7;
}

button.btn.btn-default:hover {
  background-color: #E7E6F7;
  color: #013012;
}


/* end modal style */



.image-wrapper-recipes-todas {
  width: 250px;
  height: 250px;
}

.image-wrapper-recipes-todas > a > img {
  width: 100%;
  height: auto;
}

.image-wrapper-recipes-todas > a {
  text-decoration: none;

}

.recipe-title-todas {
 font-family: montserrat;
 color: #013008;
 text-align: center;
}

.recipe-upload-date {
 font-family: merriweather;
 font-size: smaller;
 text-align: center;
}

.recipe-container-todas {
  margin-bottom: 55px;
}
